@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes blur {
  from {
    filter: blur(5px);
  }
  to {
    filter: blur(0);
  }
}

.blur {
  animation: blur 0.5s ease;
}
